.eventshow-flex{
    width: 100vw;
    display:flex;
    justify-content: space-evenly;
    
}

.eventheader{
    color: rgba(89,88,212,1);
    font-family: Gobold;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin: 100px 0px 30px 15%;
}


.LeaderBoard{
    background-color: rgba(41,45,50,2);
    width: 25vw;
    height: 400px;
    margin-left: 10px;
    border-radius:20px 20px 0px 0px;
    text-align: center;
    
}


.PortfolioView{
    background:  rgba(89,88,212,1);
    position: absolute;
    bottom: 20px;
    height: 60px;
    width: 25vw;
    font-weight: 700;
    font-size:2.2em;
}


.PrizeBreakup ,.leaderboard{
    width: 60%;
    height: 70%;
    /* background: red; */
    /* display: flex;
    justify-content:space-between;
    align-items: flex-start; */
}

.PrizeBreakupBox ,.leaderboardBox{
    width: 40%;
    height: 50%;
    background-color: #292d32;
    border-radius:10px 10px 10px 10px;
    float: left;
}
.prizeBreakupData ,.leaderboardData{
    width: 100%;
    height: 350px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background: red; */
}
.leaderboardData{
    overflow-y: scroll;
}

.leaderboardData::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(41,45,50,1) ;
    /* border-radius: 16px; */
}

.leaderboardData::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(41,45,50,0.4) ;
}

.leaderboardData::-webkit-scrollbar-thumb {
    background-color:  rgba(89,88,212,1);
    border-radius: 5px;
    /* outline: 1px solid slategrey; */
  }

.InsideBox{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    background-color: #5958d4;
}


.rankinglist{
    font-size: 20px;
    line-height: 20px;
}


.dollarStackSVG,  .leaderBoardSvg{
    width: 55%;
    height: 50%;
    float: right;
}
