.eventTitleheader {
  color: rgba(89, 88, 212, 1);
  font-family: Gobold;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;

  /* margin-left: 10px; */
}
.eventlist {

  display: flex;
  flex-direction: column;

  /* justify-content: flex-end; */
}
.ContestlistItem{
  width: 60vw;
  /* margin-left: 60px; */
  /* background-color: red; */
}
.eventbox {
  display: flex;
  margin-top: 10px;
  width:60vw;
  height: 120px;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
 
}
.event-item {
  height: 100%;
  width: 80%;
  background: rgba(41, 45, 50, 1);
  border-radius: 15px 0px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-itemlink {
  height: 100%;
  width: 20%;
  background: white;
  color: rgba(41, 45, 50, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
}

.eventbox:hover .event-item {
  background-color: #5958d4;
  width: 55%;
  transition:1s;
}
.eventbox:hover .event-itemlink {
  /* background: #5958D4; */
  width: 45%;
  transition:1s;
}


.no-events-message {
  font-style: normal;
  font-size: 25px;
}
.timerShow {
  color: #ffffff4d;
  font-family: Gobold;
  text-transform: uppercase;
  font-size: 20px;
}

.toggleSidebar-button {
  display: none;
  border: none;
}
.toggleSidebar-button span {
  writing-mode: vertical-lr;
  margin-left: -10px;
}

.sidebar-box {
  display: flex;
}
.sidebar-box-mob {
  display: none;
}
@media (min-width: 1000px) {
  /* .eventbox {
    margin-left: -5%;
  } */
}


@media (max-width: 650px) {
  .toggleSidebar-button {
    display: initial;
    position: absolute;
    height: 200px;
    left: 0px;
    width: 20px;
    /* border-radius: 0px 25px 25px 0px; */
    background-color: #fff;
    color: rgb(167, 199, 203);
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
  }
  .eventbox {
    width: 80vw;
    height: 50px;
    font-weight: 600;
    font-size: 8px;
    margin-left: -5%;
  }
  .contestsbox {
    width: 80vw;
    /* height:80px; */
  }
  .event-item {
    padding-left: 5px;
    line-height: 12px;
    border-radius: 5px 0px 0px 5px;
  }
  .no-events-message {
    width: 100px;
  }
  .eventlist {
    /* background: green; */
    align-items: center;
    /* justify-content: center; */
  }
  .event-itemlink {
    border-radius: 0px 10px 10px 0px;
  }
  
  .eventTitleheader {
    font-size: 15px;
  }
  .timerShow {
    font-size: 7px;
  }
  .sidebar-box {
    display: none;
  }
  .sidebar-box-mob {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (max-width: 1000px) and (min-width: 650px) {
  .toggleSidebar-button {
    display: initial;
    position: absolute;
    height: 200px;
    left: 0px;
    width: 20px;
    /* border-radius: 0px 25px 25px 0px; */
    background-color: #fff;
    color: rgb(167, 199, 203);
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
  }
  .sidebar-box {
    display: none;
  }
  .sidebar-box-mob {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .eventbox {
    width: 50vw;
    height: 80px;
    font-weight: 700;
    font-size: 13px;
    
  }

  .event-item {
    border-radius: 10px 0px 0px 10px;
  }
  .eventTitleheader {
    font-size: 23px;
  }
  .timerShow {
    font-size: 10px;
  }

}
