/* $desktop:1200px  
$laptop:1024px  
$tablet : 768px  
$phone : 480px   */
.events-page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
}
.sidebar {
  position: absolute;
  left: 0px;
  width: 25vw;
  padding-left: 10px;
  border-radius: 0px 20px 20px 0px;
}
#sidebar {
  color: white;
  display: flex;
  margin-left: 0;
  flex-direction: column;
  list-style: none;
  width: 10vw;
  flex-shrink: 2;
}

.sidebar-item {
  font-weight: bold;
  font-size: 1.5em;
  padding: 7px 0px;
  flex-shrink: 2;
}
.sidebar-box {
  display: flex;
}
.sidebar-box-mob {
  display: none;
}
@media (max-width: 650px) {
  .sidebar {
    position: absolute;
    left: 0px;
    line-height: 20px;
    width: 25vw;
    padding-left: 10px;
    border-radius: 0px 20px 20px 0px;
  }
  .toggleSidebar-button {
    display: initial;
    position: absolute;
    height: 200px;
    left: 0px;
    width: 20px;
    /* border-radius: 0px 25px 25px 0px; */
    background-color: #fff;
    color: rgb(167, 199, 203);
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
  }
  .sidebar-box {
    display: none;
  }
  .sidebar-box-mob {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
  }
  .sidebar-item {
    font-size: 15px;
    font-weight: 600;
  }
  #eventsidebar {
    position: absolute;
    background-color: black;
    border-radius: 0px 20px 20px 0px;
    left: 20px;
    width: 100px;
    height: 200px;
    padding-left: 3px;
  }
}
@media (max-width: 1000px) and (min-width: 650px) {
  .sidebar-box {
    display: flex;

  }
#eventsidebar {
    position: absolute;
    background-color: black;
    border-radius: 0px 20px 20px 0px;
    left: 20px;
    width: 100px;
    height: 200px;
    padding-left: 3px;
  }
  .toggleSidebar-button {
    display: none;
  }
}
@media (min-width: 1000px) {
  .sidebar-item {
    font-size: 25px;
  }
}

a:hover {
  text-decoration: none;
}

.events-content {
  margin-left: 2vw;
}

.logo-design {
  margin-top: 10px;
  width: 20vw;
  opacity: 0.2;
}
