.eventlist{
    /* background: green; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.portfolio-box{
    display: flex;
    margin-top: 10px;
    margin-left: -5%;
    width: 70vw;
    height:500px;
    font-weight: bold;
    font-size: 1.2em;   
}
.portfolio-details{
    height: 100%;
    width: 70%;
    background:  rgba(41,45,50,1);
    border-radius:20px 0px 0px 20px;
}



.stocks-list{
    height: 100%;
    width: 30%;
    background: #fff;
    color: rgba(41,45,50,1);
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(41,45,50,1);
    display: flex;
    flex-direction: column;
    border-radius:0px 20px 20px 0px;

    
}
.stock-option-heading2{
    flex:1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.stock-listing{
    overflow-y:scroll;
    overflow-x:scroll;
}
.stock-listing::-webkit-scrollbar {
    width: 10px;
}

.stock-listing::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
.stock-option-heading,.stock-option-heading2{
    font-size: 17px;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    color:rgba(0,0,0,.8);
}

.stock-listing::-webkit-scrollbar-thumb {
  background-color:  rgba(41,45,50,1);
  outline: 1px solid slategrey;
}

#stock,#Selectedstock{
    height: 40px;
    border:1px solid white;
    background-color:rgba(255,255,255,0.1);
    margin-top: 5px;
    width: 14vw;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow:4px 4px 3px rgba(0,0,0,.3);
     /* rgba(255,255,255,0.9); */
    /* font-size: 10px; */
}
#stock-name,#Selectedstock-name{
    margin-left: 15px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: "Arial";

}
#stock-val,#Selectedstock-val{
    font-size: 15px;
    
    /* font-weight: bold; */
}
#stock-remove,#stock-sub,#Selectedstock-sub{
    height:20px;
    background: white;
    border: none;
    width: 2px;
    margin-right: 20px;
    font-size: 25px;
    
}
#stock-remove{
    background:rgba(89,88,212,1);
}
.removeAndTrump{
    justify-content: center;
    /* margin-bottom: 2px; */
}
.TrumpStar{
    margin-right: 20px;
    /* background-color: red; */
}
button:focus{
    outline:none;
    border: none;
}
.stock-describe{
    outline:none;
    border: none;
    background-color: white;
}
#Selectedstock{
        background:rgba(89,88,212,1);
       justify-content: space-between;

}
#Selectedstock-name{
    color: white;
}
#Selectedstock-sub{
    font-size: 15px;
    width: 50px;
    /* background: red; */
}
.SubmitButton,.EditPortfolioButton{
     background:rgba(89,88,212,1);
     color: black;
     border-radius: 15px;
     margin: 10px;
     width: 200px;
     height: 40px;
     font-size: 20px;
     font-weight: 700;

}
.EditPortfolioButton:hover{
    color: black;
}

.portfolioNameInput{
    height: 50px;
    width: 70%;
    margin-left: 20%;
    margin-top: 20px;
    background-color:  rgba(41,45,50,1);
    border: none;
    line-height: 40px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    box-shadow:4px 4px 3px rgba(0,0,0,.3),-4px -4px 3px rgba(0,0,0,0.3);
    border-radius: 12px;
    /* color:; */
}
@media (max-width:400px){
    .portfolio-box{
        width:40vw;
        font-weight: 600;
        font-size: 8px;   
    }
    .portfolio-details{
        border-radius:5px 0px 0px 5px;
    }
}
@media (max-width:700px) and (min-width:400px){
    .portfolio-box{
        width:50vw;
        font-weight: 700;
        font-size: 13px;   
    }
    .portfolio-details{
        border-radius:10px 0px 0px 10px;
    }
}

.logo-design{
    margin-left: -50%;
}


iframe{
    border:2px solid blue;
    border-radius: 5px;
    margin-top:10px;
    margin-left: 5px;
}

.Stock-Search-Icon{
    /* text-align: left; */
    /* padding: 10px; */
}
.Stock-Search-Box{
    width: 90%;
    font-weight: 900;
    padding: 20px;
    background: rgba(41,45,50,1);
    text-align: center;
    color: #ffffff;
    border-radius: 20px;
    height: 35px;
    font-size: 20px;
}
.Stock-Search-Box:focus{
    outline:none;
    border: none;   
}


.report-div{
    display: flex;
    background: #ffffff;
    width: 60vw;   
    justify-content: space-evenly;
    border-radius: 10px;

}

.mediumfont {
    font-size: 15px;
    font-weight: 150;
}
.postive{
    color: rgba(11, 186, 87,1);
    /* color: #000; */
}
.negtive{
    /* color:red; */
    color:rgba(255,0,0,1);
   
}
