.stock {
  height: 40px;

  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 5px;
  width: 20vw;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
}
.Selectedstock {
  background: rgba(89, 88, 212, 1);
  color: white;
}

.stock-name {
  padding-left: 15px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  font-family: "Arial";
}

.removeAndTrump {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

.stock-remove{
    color: red;
    margin-right: 30px;
    width: 0px;
    height: 0px;
}

.TrumpStar{
    margin-right: 5px;
}
.stock-sub{
    margin-right: 5px;
}

.report-stock {
  height: 35px;
  background-color: white;
  margin-top: 7px;
  width: 15vw;
  text-align: left;
  border-radius: 25px;
}

.mediumfont {
  font-size: 15px;
  font-weight: 150;
}

.postive {
  color: rgba(11, 186, 87, 1);
}

.negtive {
  color: rgba(255, 0, 0, 1);
}

@media (max-width: 650px) {
  .stock {
    height: 35px;
    background-color: white;
    margin-top: 7px;
    width: 70vw;
    text-align: left;
    border-radius: 25px;
  }
  .report-stock {
    width: 70vw;
  }
  .Selectedstock {
    background: rgba(89, 88, 212, 1);
    justify-content: space-between;
    color: white;
  }
}
@media (max-width: 1000px) and (min-width:650px) {
  .stock {
    height: 35px;
    background-color: white;
    margin-top: 7px;
    margin-left: 5vw;
    width: 40vw;
    text-align: left;
    border-radius: 25px;
  }
  .Selectedstock {
    background: rgba(89, 88, 212, 1);
    justify-content: space-between;
    color: white;
  }
  .report-stock {
    width: 50vw;
  }
}