.news-page {
    display: flex;
    justify-content: space-around;
}

.sidebar{

    color: white;
    display: flex;
    margin-left:60px;
    flex-direction: column; 
    list-style: none;
    width:10vw;
    flex-shrink: 2;
   
 }

.sidebar-item{
    font-weight: bold;
    font-size: 1.5em;
    padding:7px 0px;
    flex-shrink:2;
}

 
.news-containner {
    width: 75%;
    margin-right: 5%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.news-containner > div{
    border-radius: 20px;
    transition: 500ms;
    padding: 10px;
}

.news-containner > div:nth-child(4n){
    background-color:  #5958D4;
} 
.news-containner > div:nth-child(4n+1){
    background-color: #292D32;
} 
.news-containner > div:nth-child(4n+2){
    background-color:#4AC75A;
} 
.news-containner > div:nth-child(4n+3){
    background-color: #C830DA;
} 
.news-containner>div:hover {
    transform: scale(1.06);
}

.news-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.news-summary {
    font-style: italic;
    font-weight: lighter;
}
.date {
    font-style: normal;
    font-weight: bold;
}
.sidebar-box {
    display: flex;
  }
  .sidebar-box-mob {
    display: none;
  }

@media (max-width: 480px) {
   
    .sidebar{
        margin-left:20px;
     }
    .sidebar-item{
        font-size:15px;
        font-weight: 600;
    }
    .news-containner {
        width: 80%;
        margin-left: -1%;
        min-height: 70vh;
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 1em;
    }
    .news-title {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .news-containner>div:hover {
        transform: scale(1.04);
    }   

    .sidebar{

        position: absolute;
        left: 0px;
        line-height: 15px;
        width:30vw;
        background:black;
        padding-left: 5px;
        border-radius: 0px 20px 20px 10px ;
     }
    .toggleSidebar-button {
        display: initial;
        position: absolute;
        height: 200px;
        left: 0px;
        width: 20px;
        /* border-radius: 0px 25px 25px 0px; */
        background-color: #fff;
        color: rgb(167, 199, 203);
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
      }
      .sidebar-box {
        display: none;
      }
      .sidebar-box-mob {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height:fit-content;
        width: max-content;
  
      }

}
@media (max-width:750px) and (min-width:480px){
    .sidebar-item{
        font-size:20px;
    }
}
@media (min-width: 750px) {
    .sidebar-item{
        font-size:25px;
    }
}


/* .container2 {
    display: grid;
    height: 100%;
}
.container2 >div {
    
    padding-left: 30px;
    padding-right: 30px;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
}
.titles1  {
    margin-top: 70px;
    font-size: 1.8rem;
}
.titles1 a {
    color:#C830DA;
    transition: 0.5s;
    margin-top: 30px;
}
.titles2 {
    color:#5958D4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.titles1 :hover {
    color:#5958D4;
} */