.news-page {
    display: flex;
    justify-content: space-around;
}

.sidebar{

    color: white;
    display: flex;
    margin-left:60px;
    flex-direction: column; 
    list-style: none;
    width:10vw;
    flex-shrink: 2;
   
 }

.sidebar-item{
    font-weight: bold;
    font-size: 1.5em;
    padding:7px 0px;
    flex-shrink:2;
}

 
.containerzzz {
    width: 75%;
    margin-right: 5%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.containerzzz > div{
    border-radius: 20px;
    transition: 500ms;
    padding: 10px;
}

.containerzzz > div:nth-child(4n){
    background-color:  #5958D4;
} 
.containerzzz > div:nth-child(4n+1){
    background-color: #292D32;
} 
.containerzzz > div:nth-child(4n+2){
    background-color:#4AC75A;
} 
.containerzzz > div:nth-child(4n+3){
    background-color: #C830DA;
} 
.containerzzz>div:hover {
    transform: scale(1.06);
}

.news-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.news-summary {
    font-style: italic;
    font-weight: lighter;
}
.date {
    font-style: normal;
    font-weight: bold;
}


@media (max-width: 480px) {
   
    .sidebar{
        margin-left:20px;
     }
    .sidebar-item{
        font-size:15px;
        font-weight: 600;
    }
    .containerzzz {
        width: 75%;
        margin-left: 10%;
        min-height: 70vh;
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 1em;
    }
    .news-title {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .containerzzz>div:hover {
        transform: scale(1.04);
    }   

}
@media (max-width:750px) and (min-width:480px){
    .sidebar-item{
        font-size:20px;
    }
}
@media (min-width: 750px) {
    .sidebar-item{
        font-size:25px;
    }
}


/* .container2 {
    display: grid;
    height: 100%;
}
.container2 >div {
    
    padding-left: 30px;
    padding-right: 30px;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
}
.titles1  {
    margin-top: 70px;
    font-size: 1.8rem;
}
.titles1 a {
    color:#C830DA;
    transition: 0.5s;
    margin-top: 30px;
}
.titles2 {
    color:#5958D4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.titles1 :hover {
    color:#5958D4;
} */